<div id="wrapper">
    <h1>Note Scraper</h1>
    <a href="/scrape" class="btn btn-primary btn-lg">Scrape!</a>
    <br>
    <hr>
    <h3>Scraping www.reuters.com</h3>
    <h5><div id="articles"></div></h5>
    <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>